* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --aqua: #60C0D6;
  --ultramarine: #0064A3;
  --blue-black: #01182A;
  --cool-white: #F5FFF6;  
}

body {
    background-color: var(--cool-white);
  }

  header {
    height: 50px;
    padding: 20px;
    background-color: var(--aqua);
    border-bottom: 10px solid var(--ultramarine); 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  #viewHighscores {
    font-size: 24px;
    color: var(--blue-black);
    font-weight: bolder;
  }

  #timer {
    font-size: 24px;
    color: var(--blue-black);
    font-weight: bolder;
    margin-right: 30px;
  }

  a {
    text-decoration: none;
    color: var(--blue-black); 
  }

  figure {
    height: 800px;
    width: 100%;
    background-image: url("../images/circuitboard.jpg");
    background-size: cover;
    background-position: center;
    position: relative; 
  }

  figcaption {
    display: none;
  }

  #quizAreaMat {
    width: 80%;
    height: 650px;
    display: block;
    border: solid 7px var(--ultramarine);
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: var(--cool-white);
    opacity: 85%;
  }

  /* Landing View Slide 1*/
  h1 {
    font-size: 38px;
    font-weight: bolder;
    margin-top: 30px;
    text-align: center;
    color: var(--blue-black);
  }

  #byline {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    margin-top: 20px;
    margin-left: 90px;
    text-align: center;
    color: var(--ultramarine);
  }

  #startButton {
    margin-top: 20px auto; 
    border-radius: 25px;
    border: solid 3px var(--blue-black);
    width: min-width;
    height: min-height;
    position: absolute;
    left: 42%;
    background-color: var(--aqua);
    opacity: 100%;
    color: var(--blue-black);
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    line-height: 1.2%;
  }

  /* Quiz slides 2, 3, 4, 5, 6*/
  ul {
    display: none;
    line-height: 2;
  }

  .multiChoice {
    margin: 20px auto; 
    border-radius: 25px;
    border: solid 3px var(--blue-black);
    width: min-content;
    height: 40px;
    position: absolute;
    left: 30%;
    background-color: var(--aqua);
    opacity: 100%;
    color: var(--blue-black);
    font-size: 28px;
    font-weight: bolder;
    padding: 10px;
    line-height: 1.2%;

  }


  /* SaveScore with initials Slide 7*/
  form {
    display: none;

  }
  

  /* Go Back/Clear Highscores Slide 8 */
  
  #startOverButton {
    display: none;
  }

  #clearHighscoresButton {
    display: none;
  }



  #container {
    width: 400px;
    height: 300px;
    display: block;
    border: solid 10px var(--blue-black);
    margin: 20px auto 20px auto;
    background-color: var(--cool-white);
    overflow: hidden;
    position:absolute
  }
  
  h4 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
  }
  
  button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
  }
  
  .container {
    display: block;
    margin: 80px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6; opacity: 70%;
    
  }
  
  .wrapper {
    padding-top: 20px;
  }
  
  .card-contents {
    padding: 5px 5px 10px 5px;
  }

  /* I took the universal selectors from the horiseon css file and the rest of the contents are from the increment and decrememt event listener demo in unit 4 stu 12*/

  
