* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --aqua: #60C0D6;
  --ultramarine: #0064A3;
  --blue-black: #01182A;
  --cool-white: #F5FFF6;  
}

body {
    background-color: var(--cool-white);
  }

  header {
    height: 50px;
    padding: 20px;
    background-color: var(--aqua);
    border-bottom: 10px solid var(--ultramarine); 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  #viewHighscores {
    font-size: 24px;
    color: var(--blue-black);
    font-weight: bolder;
  }

  #timer {
    font-size: 24px;
    color: var(--blue-black);
    font-weight: bolder;
    margin-right: 30px;
  }

  a {
    text-decoration: none;
    color: var(--blue-black); 
  }

  figure {
    height: 800px;
    width: 100%;
    background-image: url("../images/circuitboard.jpg");
    background-size: cover;
    background-position: center;
    position: relative; 
  }

  figcaption {
    display: none;
  }

  #quizAreaMat {
    width: 80%;
    height: 650px;
    display: block;
    border: solid 7px var(--ultramarine);
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: var(--cool-white);
    opacity: 85%;
  }

  /* Landing View Slide 1*/
  h1 {
    font-size: 38px;
    font-weight: bolder;
    margin-top: 30px;
    text-align: center;
    color: var(--blue-black);
  }

  #byline {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    margin-top: 20px;
    margin-left: 110px;
    text-align: center;
    color: var(--ultramarine);
  }

  #startButton {
    margin-top: 20px auto; 
    border-radius: 25px;
    border: solid 3px var(--blue-black);
    width: min-width;
    height: min-height;
    position: absolute;
    left: 42%;
    background-color: var(--aqua);
    opacity: 100%;
    color: var(--blue-black);
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    line-height: 1.2%;
  }

  /* Quiz slides 2, 3, 4, 5, 6*/
  ul {
    display: none;
    line-height: 2;
  }

  .multiChoice {
    margin: 20px auto; 
    border-radius: 25px;
    border: solid 3px var(--blue-black);
    width: 290px;
    height: 40px;
    position: absolute;
    left: 37%;
    background-color: var(--aqua);
    opacity: 100%;
    color: var(--blue-black);
    font-size: 28px;
    font-weight: bolder;
    padding: 10px;
    line-height: 1.2%;
  }

  #msgArea {
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--ultramarine);
  padding-top: 10px;
}

  /* Save score with initials Slide 7*/
  form {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--ultramarine);
    padding-top: 10px;
  }

  form input {
    height: 40px;
    width: 100px;
    line-height: 1.2;
    border: 2px solid var(--ultramarine);
    text-align: center;
    color: var(--ultramarine);
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
  }
  
  #submitButton {
    margin-top: 30px; 
    border-radius: 25px;
    border: solid 3px var(--blue-black);
    width: min-width;
    height: min-height;
    position: absolute;
    left: 45%;
    background-color: var(--aqua);
    opacity: 100%;
    color: var(--blue-black);
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    line-height: 1.2%;
  }

  /* Go Back/Clear Highscores Slide 8 */
  
  #startOverButton {
    margin-top: 20px auto; 
    border-radius: 25px;
    border: solid 3px var(--blue-black);
    width: min-width;
    height: min-height;
    position: absolute;
    left: 27%;
    background-color: var(--aqua);
    opacity: 100%;
    color: var(--blue-black);
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    line-height: 1.2%;
  }

  #clearHighscoresButton {
    margin-top: 20px auto; 
    border-radius: 25px;
    border: solid 3px var(--blue-black);
    width: min-width;
    height: min-height;
    position: absolute;
    left: 45%;
    background-color: var(--aqua);
    opacity: 100%;
    color: var(--blue-black);
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    line-height: 1.2%;
  }

  #highscoresList li:nth-child(odd) {
    background-color: var(--ultramarine);
    color: var(--cool-white);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  #highscoresList li:nth-child(even) {
    background-color: var(--aqua);
    color: var(--blue-black);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  #buttonContainer {
    display: none;
  }

  button {
    margin: 24px; 
  }

  